<div id="div_stats">
    <h1>Stats</h1>

    <div class="sticker_refresh_spinner" ng-show="loading">
        <div class="spinner"></div>
        Updating...
    </div>

    <div id="div_stats_container" ng-hide="loading">
        <p>If you did not forget anything you have <strong><span id="total_stickers_collected">{{ data.collected }}</span></strong> stickers!</p>

        <h5>Missing stickers</h5>
        <ul ng-repeat="(team, qty) in data.teams">

            <li id="li_stats_{{ team }}">
                <strong> {{ team }}: </strong>
                <span ng-show="qty == 0" class="stat_value" style="color:green;"><strong>Complete!</strong></span>
                <span ng-show="qty == 1" class="stat_value">There is only <strong>1</strong> sticker missing!!</span>
                <span ng-show="qty != 0 && qty != 1" class="stat_value">There are <strong>{{ qty }}</strong> stickers missing.</span>
            </li>

        </ul>
    </div>
</div>